<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ request.method }}</title>
</head>
<body>
123
{% macro mythod(a,b,c=c) %}
    <form action="" method="post">
        {# 本质作用就是混淆，避免跨站脚本攻击#}
        {{ form.csrf_token }}
        <h1>{{ b }}</h1>
        {{ form.user.label }}
        <h1>{{ a+c }}</h1>
        {{ form.user }}<br>
        {{ form.pswd.label }}
        {{ form.pswd }}<br>
        {{ form.pswd2.label }}
        {{ form.pswd2 }}<br>
        {{ form.submit }}<br>


    </form>
{% endmacro %}
{#{{ mythod(1,2,c=3) }}#}
{% import 'macro.html' as ff %}
{{ ff.func(a=1,b=2) }}


{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}


{% import 'macro.html' as ff %}
{#{{ ff.mythod(1,2) }}#}
{#{% ff.mythod(1,2) %}#}

321
</body>
</html>